<md-progress-spinner *ngIf="loading" mode="indeterminate"></md-progress-spinner>
<md-toolbar color="primary" style="position: relative; z-index: 1">
  <button md-icon-button (click)="menu.toggle()" md-tooltip="Toggle Menu"><md-icon>menu</md-icon></button>
  <h1>D3 Doc Search</h1>
</md-toolbar>
<md-sidenav-container>
  <md-sidenav #menu [mode]="menuMode" [opened]="menuOpened">
    <md-input-container style="width:100%; margin-top: 20px">
      <span mdPrefix><md-icon>search</md-icon></span>
      <input mdInput [(ngModel)]="filterText" (ngModelChange)="onFilterTextChange(filterText)" placeholder="Search" />
    </md-input-container>
    <section *ngFor="let item of filteredDocModel">
      <h2 md-subheader><a href="#{{item.name}}" (click)="onMenuClick(menu)">{{item.name}}</a></h2>
      <md-nav-list>
        <a md-list-item *ngFor="let child of item.children" href="#{{child.links && child.links[0]}}" (click)="onMenuClick(menu)">{{child.name}}</a>
      </md-nav-list>
    </section>
  </md-sidenav>
  <div *ngIf="errorMessage" style="padding: 15px; text-align: center">Error: {{errorMessage}}</div>
  <section *ngFor="let item of filteredDocModel">
    <a [name]="item.name" style="display: block; height: 0px"></a>
    <md-toolbar color="accent">
      <h2>{{item.name}}</h2>
      <span class="fill-remaining-space"></span>
      <a [href]="item.link" md-icon-button md-tooltip="{{item.name}} Repository"><md-icon>code</md-icon></a>
    </md-toolbar>
    <div style="padding:0px 15px;">
      <div *ngFor="let child of item.children" style="margin: 15px 0px;">
        <a [name]="link" *ngFor="let link of child.links" style="display: block; height: 0px"></a>
        <md-card class="markdown-body">
          <md-card-title>{{child.name}}</md-card-title>
          <md-card-content [innerHTML]="child.elemList"></md-card-content>
        </md-card>
      </div>
    </div>
  </section>
</md-sidenav-container>
