/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  overflow: hidden;
  min-width: 0px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, label {
  font-weight: normal;
}

.markdown-body {
  line-height: 20px;
}

.md-list-item {
  min-height: 48px;
  height: auto !important;
}

.md-input-infix {
  vertical-align: middle;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
